<div class="buttons-div">
    <button type="button" name="button" ng-click="homeClick()">home</button>
    <button type="button" name="button" ng-click="tableClick()">table view</button>
</div>

<div class="container">
    
    <div class="card" ng-repeat="contact in contacts" ng-click="goToSingle(contact.CustomerID)">
        <!-- <p>CustomerID: <span class="data">{{contact.CustomerID}}</span></p>
        <p>CompanyName: <span class="data">{{contact.CompanyName}}</span></p>
        <p>ContactName: <span class="data">{{contact.ContactName}}</span></p>
        <p>ContactTitle: <span class="data">{{contact.ContactTitle}}</span></p>
        <p>ContactEmail: <span class="data">{{contact.Email}}</span></p>
        <p>ContactPhone: <span class="data">{{contact.Phone}}</span></p>
        <p>ContactFax: <span class="data">{{contact.Fax}}</span></p>
        <p>ContactAddress: <span class="data">{{contact.Address}}<br>{{contact.City}}, {{contact.PostalCode}}<br>{{contact.Country}}</span></p> -->
        
        <div class="headings">
            <p>CustomerID:</p>
            <p>CompanyName:</p>
            <p>ContactName:</p>
            <p>ContactTitle:</p>
            <p>ContactEmail:</p>
            <p>ContactPhone:</p>
            <p>ContactFax:</p>
            <p>ContactAddress:</p>
        </div>
        <div class="data">
            <p>{{contact.CustomerID}}</p>
            <p>{{contact.CompanyName}}</p>
            <p>{{contact.ContactName}}</p>
            <p>{{contact.ContactTitle}}</p>
            <p>{{contact.Email}}</p>
            <p>{{contact.Phone}}</p>
            <p>{{contact.Fax}}</p>
            <p>{{contact.Address}}<br>{{contact.City}}, {{contact.PostalCode}}<br>{{contact.Country}}</p>
        </div>
    </div>
    
</div>