<div class="buttons-div">
    
    <button type="button" name="button" ng-click="homeClick()">home</button>
    <button type="button" name="button" ng-click="tableClick()" ng-hide="viewTable">table view</button>
    <button type="button" name="button" ng-click="cardsClick()" ng-hide="viewCards">cards view</button>
    
</div>

<div ng-show="noHardRefresh">
    
    <table ng-hide="viewCards">
        
        <tr>
            <th>CustomerID</th>
            <th>CompanyName</th>
            <th>ContactName</th>
            <th>Title</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Fax</th>
            <th>Address</th>
        </tr>
        
        <tr ng-repeat="contact in contacts" ng-click="goToSingle(contact.CustomerID)">
            <td>{{contact.CustomerID}}</td>
            <td>{{contact.CompanyName}}</td>
            <td>{{contact.ContactName}}</td>
            <td>{{contact.ContactTitle}}</td>
            <td>{{contact.Email}}</td>
            <td>{{contact.Phone}}</td>
            <td>{{contact.Fax}}</td>
            <td class="address">{{contact.Address}}<br>{{contact.City}}, {{contact.PostalCode}}<br>{{contact.Country}}</td>
        </tr>
        
    </table>

    <div class="container" ng-hide="viewTable">
        
        <div class="card" ng-repeat="contact in contacts" ng-click="goToSingle(contact.CustomerID)">
            
            <div class="headings">
                <p>CustomerID:</p>
                <p>CompanyName:</p>
                <p>ContactName:</p>
                <p>ContactTitle:</p>
                <p>ContactEmail:</p>
                <p>ContactPhone:</p>
                <p>ContactFax:</p>
                <p>ContactAddress:</p>
            </div>
            
            <div class="data">
                <p>{{contact.CustomerID}}</p>
                <p>{{contact.CompanyName}}</p>
                <p>{{contact.ContactName}}</p>
                <p>{{contact.ContactTitle}}</p>
                <p>{{contact.Email}}</p>
                <p>{{contact.Phone}}</p>
                <p>{{contact.Fax}}</p>
                <p>{{contact.Address}}<br>{{contact.City}}, {{contact.PostalCode}}<br>{{contact.Country}}</p>
            </div>
            
        </div>
        
    </div>

</div>