<div class="buttons-div">
    <button type="button" name="button" ng-click="homeClick()">home</button>
    <button type="button" name="button" ng-click="tableClick()">table view</button>
    <button type="button" name="button" ng-click="cardsClick()">cards view</button>
</div>

<div class="container">
    <div class="card">
        <div class="headings">
            <p>CustomerID:</p>
            <p>CompanyName:</p>
            <p>ContactName:</p>
            <p>ContactTitle:</p>
            <p>ContactEmail:</p>
            <p>ContactPhone:</p>
            <p>ContactFax:</p>
            <p>ContactAddress:</p>
        </div>
        <div class="data">
            <p>{{contact.CustomerID}}</p>
            <p>{{contact.CompanyName}}</p>
            <p>{{contact.ContactName}}</p>
            <p>{{contact.ContactTitle}}</p>
            <p>{{contact.Email}}</p>
            <p>{{contact.Phone}}</p>
            <p>{{contact.Fax}}</p>
            <p>{{contact.Address}}<br>{{contact.City}}, {{contact.PostalCode}}<br>{{contact.Country}}</p>
        </div>
    </div>
</div>
