<div class="buttons-div">
    
    <button type="button" name="button" ng-click="homeClick()">home</button>
    <button type="button" name="button" ng-click="tableClick()">table view</button>
    <button type="button" name="button" ng-click="cardsClick()">cards view</button>
    
</div>
<div ng-hide="editing">
    
    <div class="container">
        
        <div class="card">
            
            <div class="headings">
                <p>CustomerID:</p>
                <p>CompanyName:</p>
                <p>ContactName:</p>
                <p>ContactTitle:</p>
                <p>ContactEmail:</p>
                <p>ContactPhone:</p>
                <p>ContactFax:</p>
                <p>ContactAddress:<br>
                <button type="button" name="button" ng-click="edit()">edit contact</button></p>
            </div>
            
            <div class="data">
                <p>{{contact.CustomerID}}</p>
                <p>{{contact.CompanyName}}</p>
                <p>{{contact.ContactName}}</p>
                <p>{{contact.ContactTitle}}</p>
                <p>{{contact.Email}}</p>
                <p>{{contact.Phone}}</p>
                <p>{{contact.Fax}}</p>
                <p>{{contact.Address}}<br>{{contact.City}}, {{contact.PostalCode}}<br>{{contact.Country}}</p>
            </div>
            
        </div>
        
    </div>

</div>

<div class="edit-form" ng-show="editing">
    <form ng-submit="editContact()">
        <div class="container">
            
            <div class="form-card">
                
                <div class="form-headings">
                    <p><label for="companyName">CompanyName:</label></p>
                    <p><label for="companyName">ContactName:</label></p>
                    <p><label for="companyName">ContactTitle:</label></p>
                    <p><label for="companyName">ContactEmail:</label></p>
                    <p><label for="companyName">ContactPhone:</label></p>
                    <p><label for="companyName">ContactFax:</label></p>
                    <p><label for="companyName">ContactAddress:</label></p>
                </div>
                
                <div class="form-data">
                    <p><input type="text" name="CompanyName" ng-model="contact.CompanyName" placeholder="Company Name"></p>
                    <p><input type="text" name="ContactName" ng-model="contact.ContactName" placeholder="Contact Name"></p>
                    <p><input type="text" name="ContactTitle" ng-model="contact.ContactTitle" placeholder="Contact Title"></p>
                    <p><input type="text" name="Email" ng-model="contact.Email" placeholder="Email"></p>
                    <p><input type="text" name="Phone" ng-model="contact.Phone" placeholder="Phone"></p>
                    <p><input type="text" name="Fax" ng-model="contact.Fax" placeholder="Fax"></p>
                    <p><input type="text" name="Address" ng-model="contact.Address" placeholder="Street Address"><br><input type="text" name="City" ng-model="contact.City" placeholder="City">, <input type="text" name="PostalCode" ng-model="contact.PostalCode" placeholder="PostalCode"><br><input type="text" name="Country" ng-model="contact.Country" placeholder="Country"></p>
                </div>
                
            </div>
            
        </div>
        
        <div class="edit-button-div">
            <button class="create-update-button" type="submit">Save Changes</button>
        </div>
    </form>
</div>
